[Unit]
Description="Harness Drone Runner - A software delivery platform"
Documentation=https://www.harness.io/
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/bin/bash drone-runner-linux server
KillMode=process
Restart=on-failure
ExecReload=/bin/kill --signal HUP $MAINPID
LimitNOFILE=65536
RestartSec=10
TimeoutStopSec=30
StartLimitInterval=60
StartLimitBurst=3
KillSignal=SIGINT
PIDFile=/var/run/dronerunner.pid

[Install]
WantedBy=multi-user.target
